/*nomalize*/
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a, ul, ol, img, p, span{
    list-style: none; 
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}
.button{
    align-items: center;
    justify-content: center;
}
/* colors */
:root{
    --PrimaryColor: #00D5FF;
    --SecondaryColor: #DAEEFB;
    --Darkblue: #007fd4;
    --Blue: #0099ff;
    --PointColor: #ff4d4d;
    --BorderColor: #c7c7c7;
    --LightGrey: rgb(244, 244, 244);
    --LightSkyblue: #c6e8ff;
    --DarkGray: #3b3b3b;
}

/*layout & design*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}
.header .main_logo a{
    display: flex;
    align-items: center;
    margin: 10px auto;
}
.header .main_logo a img{
    padding: 5px;
    width: 30px;
    border-radius: 50%;
    margin: 0px 10px;
}
.header .main_logo a span{
    color: var(--PrimaryColor);
    font-weight: 900;
    font-size: 23px;
}
.header .gnb{
    width: 100%;
    background-color: var(--SecondaryColor);
    font-weight: 600;
}
.header .gnb ul{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.header .gnb ul li{
    display: block;
    width: 200px;
    font-size: 17px;
    padding: 10px 0;
}
.header .gnb ul li:hover{
    color: var(--DarkGray);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    border: solid var(--BorderColor) 1px;
    margin: 5px 0px;
}

.footer{
    background-color: var(--SecondaryColor);
    height: 80px;
    font-size: 12px;
    color: var(--Blue);
    width: 800px;
}
.footer div{
    line-height: 80px;
}

.more_btn{
    border: none; 
    background-color: inherit;
    color: #5f5f5f;
}
.more_btn:hover{
    color: rgb(31, 31, 31);
}
.comboBox{
    border: none;
    background-color: inherit;
    font-size: inherit;
}
.comboBox:focus{
    outline: none;
}
.threeColumsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.leftMore_btn{
    border: none; 
    background-color: inherit;
}
.hover_grayText:hover{
    color: var(--DarkGray);
}
.hover_blackText:hover{
    color: black;
}